# Dependencias
node_modules/
vendor/

# Archivos de entorno
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.temp
*.swp
*.swo

# Archivos de compilación
dist/
build/
*.pyc
__pycache__/

# Archivos de IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de base de datos
*.db
*.sqlite
*.sqlite3 